body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cal-icon img,svg{
 
vertical-align:left;
  position: absolute;
  margin-top: -27px;
  margin-left: 500px;
}

.form-control{
  position:relative;
}
.error-field{
  border:2px solid red !important;
  border-radius:2px !important;
}
.sucess{
  border:2px solid green !important;
  border-radius: 2px !important;
}
.message{
  color: green;
}
.popup{
  color:red;
}
